<md-content layout-padding layout-wrap>
<!-- <button ng-click="vm.previewPdf()">Que pedo Alan</button>
 -->    <md-table-container>
      <md-toobar  layout="row" layout-align="space-between end" style="margin:0px" >
            <div>
              <md-input-container style="margin:15px;">
                  <label>Buscar</label>
                  <input type="text" ng-model="vm.filter.search">
              </md-input-container>
            </div>
             <div>
              <md-button  ng-click="vm.refreshTasks()" class="md-fab md-defaultprimary " aria-label="save grades"><md-tooltip>Recargar Actas</md-tooltip><i class="material-icons">refresh</i></md-button>
            </div>
        </md-toobar>
        <md-card ng-show="vm.achtungFlag" flex-xs flex-gt-xs="50" style="achtung-card">
          <md-card-content>
            <h2>No Existen</h2>
            <p>Mas tareas</p>
          </md-card-content>
        </md-card>
          <table  md-table md-progress="vm.promise">
            <thead md-head md-order="vm.query.order" ng-hide="vm.achtungFlag">
              <tr md-row>
                <th md-column md-order-by="periodo"><span>Periodo</span></th>
                <th md-column md-order-by="claveMateria"><span>Materia</span></th>
                <th md-column md-order-by="grupo" md-desc><span>Grupo</span></th>
                <th md-column md-order-by="tituloMateria"><span>Titulo Materia</span></th>
                <th md-column ><span>Revisar</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="vm.actas"  md-auto-select="vm.options.autoSelect"  ng-repeat="data in vm.actas | filter: vm.filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
                <td md-cell>{{data.periodo}}</td>
                <td md-cell>{{data.claveMateria}}</td>
                <td md-cell>{{data.grupo}}</td>
                <td md-cell>{{data.tituloMateria}}</td>
                <td md-cell>
                  <md-button ng-click="vm.startRevision(data)" 
                             ng-disabled="false"
                             aria-label="inspections"
                             class="md-icon-button launch md-raised" >
                    <i class="material-icons">search</i>
                  </md-button>
                  <md-button ng-if="data.comentarios" ng-click="vm.showComments($event, data)">
                    <md-tooltip md-direction="bottom">Tienes {{data.comentarios.length || '0'}} comentarios</md-tooltip>
                    <i  class="material-icons md-primary" 
                        ng-style="{'color':'rgb(0,150,136)','font-size':'18px'}">mode_comment</i></td>
                  </md-button>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
        <md-table-pagination ng-hide="vm.achtungFlag" md-limit="vm.query.limit" md-limit-options="vm.limitOptions" md-page="vm.query.page" md-total="{{vm.tableData.length}}" md-page-select="vm.options.pageSelect" md-boundary-links="vm.options.boundaryLinks" ></md-table-pagination>
   
</md-content>

