<md-content layout-padding layout-wrap>
    <md-toobar style="margin:0px" >
            <md-subheader>Filtrar por busqueda</md-subheader>
            <md-input-container style="margin:15px;">
                <label>Buscar</label>
                <input type="text" ng-model="vm.filter.search">
            </md-input-container>
            <button ng-click="vm.test()">test</button>
    </md-toobar>
    <md-table-container>
          <table md-table>
            <thead md-head md-order="vm.query.order" >
              <tr md-row>
                <th md-column md-order-by="vm.tableData.period"><span>Periodo</span></th>
                <th md-column md-order-by="vm.tableData.subject"><span>Materia</span></th>
                <th md-column md-numeric md-order-by="vm.tableData.group" md-desc><span>Grupo</span></th>
                <th md-column md-numeric md-order-by="vm.tableData.title"><span>Titulo Materia</span></th>
                <th md-column md-numeric ><span>Revisar</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="vm.tableData"  md-auto-select="vm.options.autoSelect"  ng-repeat="data in vm.tableData | filter: vm.filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
                <td md-cell>{{data.period}}</td>
                <td md-cell>{{data.subject}}</td>
                <td md-cell>{{data.group}}</td>
                <td md-cell>{{data.title}}</td>
                <td md-cell><md-button ng-click="vm.startRevision(data.period)" 
                             ng-disabled="data.inspected"
                             aria-label="inspections"
                             class="md-icon-button launch md-raised" >
                    <i class="material-icons">search</i>
                  </md-button></td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
        <md-table-pagination md-limit="vm.query.limit" md-limit-options="vm.limitOptions" md-page="vm.query.page" md-total="{{vm.tableData.length}}" md-page-select="vm.options.pageSelect" md-boundary-links="vm.options.boundaryLinks" ></md-table-pagination>
</md-content>

