<div>
<section> <!-- THIS ARE THE PLOTS OF GOOGLE CHART TO DOWNLOAD THE PNG, THATS WHY THEY ARE HIDED -->
            <div id='chartP_div' ng-hide="true"></div>
            <div id='chartNP_div' ng-hide="true"></div>
</section>


  <span>
    <md-card layout="row" layout-align="space-around center" layout-padding>
      <section layout="col" layout-align="space-around center">
            <canvas id="pie" class="chart chart-pie"
              chart-data="dataP" chart-labels="labels" chart-options="options" chart-colors="colors">
            </canvas>
          
            <canvas id="pie" class="chart chart-pie"
              chart-data="dataNP" chart-labels="labels" chart-options="options">
            </canvas>
      </section>
    </md-card>
  </span>



  <span>
    <md-card  layout-padding>
      <md-table-container>
          <div layout="row" layout-align="end center" layout-xs="column">
                <md-toobar flex="20" style="margin:0px" >
                  <md-input-container style="margin:15px;">
                      <label>Buscar</label>
                      <input type="text" ng-model="vm.filter.search">
                  </md-input-container>
                </md-toobar>
            </div>
            <table md-table>
              <thead md-head md-order="vm.query.order" >
                <tr md-row>
                  <th md-column md-order-by="vm.tableData.id"><span>Clave Única</span></th>
                  <th md-column md-order-by="vm.tableData.name"><span>Nombre del Alumno</span></th>
                  <th md-column >
                    <md-icon>format_list_numbered</md-icon>
                    <span>Calificaciones</span>
                  </th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="vm.tableData"   ng-repeat="data in vm.tableData | filter: vm.filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
                  <td md-cell>{{data.id}}</td>
                  <td md-cell>{{data.name}}</td>
                  <td md-cell>{{data.grade}} pts</td>
                </tr>
              </tbody>
            </table>
      </md-table-container>
      <md-table-pagination md-limit="vm.query.limit" md-limit-options="vm.limitOptions" md-page="vm.query.page" md-total="{{vm.tableData.length}}" md-page-select="vm.options.pageSelect" md-boundary-links="vm.options.boundaryLinks" ></md-table-pagination>
      <section  layout="row" layout-align="end center" >
            <md-button ng-click="vm.printPdf()" class="md-fab md-defaultprimary " aria-label="save grades"><md-tooltip>Rechazar Acta</md-tooltip><i class="material-icons">cancel</i></md-button>
            <md-button ng-click="vm.previewPdf()" class="md-fab md-defaultprimary " aria-label="save grades"><md-tooltip>Ver Acta</md-tooltip><i class="material-icons">picture_as_pdf</i></md-button>
            <md-button ng-click="vm.sendTransaction()" class="md-fab md-defaultprimary " aria-label="save grades"><md-tooltip>Validar Acta</md-tooltip><i class="material-icons">assignment_turned_in</i></md-button>
      </section>
      <section  layout="row" layout-align="end center" >
            <md-button ng-click="vm.printPdf()" class="md-fab md-defaultprimary " aria-label="save grades"><md-tooltip>Rechazarr Acta</md-tooltip><i class="material-icons">cancel</i></md-button>
            <md-button ng-click="vm.saveDraft()" class="md-fab md-defaultprimary " aria-label="save grades"><md-tooltip>Firmar Acta</md-tooltip><i class="material-icons">assignment_turned_in</i></md-button>
      </section>
    </md-card>
  </span>
</div>

