<md-content layout-padding layout-wrap>
    <md-toobar layout="row" layout-align="space-between end" style="margin:0px" >
            <div>
              <md-subheader>Filtrar por busqueda</md-subheader>
              <md-input-container style="margin:15px;">
                  <label>Buscar</label>
                  <input type="text" ng-model="vm.filter.search">
              </md-input-container>
            </div>
             <div>
              <md-button  ng-click="vm.startTransactions($event)" class="md-fab md-defaultprimary " aria-label="save grades"><md-tooltip>Iniciar Actas</md-tooltip><i class="material-icons">play_arrow</i></md-button>
            </div>
    </md-toobar>
    <md-table-container>  
          <table md-table md-row-select="vm.options.rowSelection" 
                          multiple="{{vm.options.multiSelect}}" 
                          ng-model="vm.selected" 
                          md-progress="vm.promise">
            <thead md-head md-order="vm.query.order" >
              <tr md-row>
                <th md-column md-order-by="vm.tableData.period"><span>CM</span></th>
                <th md-column md-order-by="vm.tableData.subject"><span>Grupo</span></th>
                <th md-column md-numeric md-order-by="vm.tableData.group" md-desc><span>Materia</span></th>
                <th md-column md-numeric md-order-by="vm.tableData.title"><span>Nombre del Profesor</span></th>
                <th md-column md-numeric ><span>Nombre Jefe Departamento</span></th>
                <th md-column md-numeric ><span>Fecha de Evaluacion</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="data"  md-auto-select="vm.options.autoSelect"  ng-repeat="data in vm.tableData | filter: vm.filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
                <td md-cell>{{data.cm}}</td>
                <td md-cell>{{data.group}}</td>
                <td md-cell>{{data.subject}}</td>
                <td md-cell>{{data.teacher}}</td>
                <td md-cell>{{data.chief}}</td>
                <td md-cell>{{data.date}}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
        <md-table-pagination md-limit="vm.query.limit" md-limit-options="vm.limitOptions" md-page="vm.query.page" md-total="{{vm.tableData.length}}" md-page-select="vm.options.pageSelect" md-boundary-links="vm.options.boundaryLinks" ></md-table-pagination>
       
</md-content>