<md-content layout-padding layout-wrap>
    <md-table-container>
    <md-toobar class="md-defaultprimary" layout="row" layout-align="space-between end" style="margin:0px" >
            <div>
              <md-input-container style="margin:15px;">
                  <label>Buscar</label>
                  <input type="text" ng-model="vm.filter.search">
              </md-input-container>
            </div>
             <div>
              <md-button  ng-click="vm.refreshTasks()"  class="md-fab md-defaultprimary " aria-label="save grades"><md-tooltip>Recargar las Actas</md-tooltip><i class="material-icons">refresh</i></md-button>
            </div>
    </md-toobar>
          <table md-table md-progress="vm.promise" >
            <thead class="md-defaultprimary" md-head md-order="vm.query.order" >
              <tr md-row>
                <th md-column md-order-by="periodo"><span>Periodo</span></th>
                <th md-column md-order-by="claveMateria"><span>Materia</span></th>
                <th md-column md-order-by="grupo" md-desc><span>Grupo</span></th>
                <th md-column md-order-by="tituloMateria"><span>Titulo Materia</span></th>
                <th md-column  ><span>Inspeccionar</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="(key, acta) in vm.actas | filter: vm.filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
                <td md-cell>{{acta.periodo}}</td>
                <td md-cell>{{acta.claveDepartamento}}-{{acta.claveMateria}}</td>
                <td md-cell>{{acta.grupo}}</td>
                <td md-cell>{{acta.tituloMateria}}</td>
                <td md-cell layout="col">
                  <md-button ng-click="vm.startTransaction(acta)"
                             ng-disabled="false"
                             aria-label="inspections"
                             class="md-icon-button launch md-raised" >
                    <i class="material-icons">search</i>
                  </md-button>
                  <md-button ng-if="acta.comentarios" ng-click="vm.showComments($event, acta)">
                    <md-tooltip md-direction="bottom">Tienes {{acta.comentarios.length || '0'}} comentarios</md-tooltip>
                    <i  class="material-icons md-primary" 
                        ng-style="{'color':'rgb(0,150,136)','font-size':'18px'}">mode_comment</i></td>
                  </md-button>
                  
              </tr>
            </tbody>
          </table>
        </md-table-container>
        <md-table-pagination md-limit="vm.query.limit" md-limit-options="vm.limitOptions" md-page="vm.query.page" md-total="{{vm.actas.length}}" md-page-select="vm.options.pageSelect" md-boundary-links="vm.options.boundaryLinks" ></md-table-pagination>
</md-content>

